<p>You can contact me by filling out the form below.</p>
<form action="/contact" method="POST">
	<label>name</label>
	<input type="text" name="name">
	<label>email</label>
	<input type="text" name="email">
	<label>your message</label>
	<textarea name="message"></textarea>
	<input type="submit" value="Send Message">
</form>