<% title="Songs By Sinatra" %>
<!doctype html>
<html lang="en">
<head>
	<title><%= @title || "Songs By Sinatra" %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<header>
		<h1>Songs By Sinatra</h1>
	</header>
	<%= erb :nav %>
	<section>
		<%= yield %>
	</section>
</body>
</html>
